@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.BoxPrincipal
{
    background-color: var(--WhiteColor) ;
    
    flex-grow: 1;
    margin: 1.5px 1px 1.5px 1px;
    height: 120px;
    min-width: 280px;

    display: flex;
    
}

.BoxPrincipal:first-child
{
    margin: 3px 1px 1.5px 1px;
}

.LogoPosto
{
    width: 20%;
    height: 100%;
    background-color: black;
}

.LabelBox
{
    width: 60%;
    font-family: 'Roboto', sans-serif;
}

.LabelBox ul
{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.LabelBox li
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.LabelBox li h5
{
    width: 100%;
}
.LabelBox li h6
{
    display: inline-block;
    width: 100%;
}